[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kodipydent-alt = "*"
Flask = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
export = "$env:FLASK_APP = "main.py""